.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10%;
}

#drum-machine{
  width: 800px;
  height: 600px;
  border: 1px solidrgba(0,0,0,0.5);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(198, 0, 128, 0.3);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#display{
  margin-top: 40px;
  color: white;
  background-color: grey;
  border-radius: 10px;
  width: 80%;
  justify-self: center;
  align-content: center;
}
h1{
  font: 600 50px Roboto; 
}
#state{
  font: 600 20px Roboto;
}

.drum-pad{
  width: 50px;
  height: 50px;
  color: white;
  background-color: indigo;
  border: none;
  margin: 5px 10px 5px 10px;
}